<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li role="presentation" class="dropdown-header">Staff Member</li>
        @Html.MenuItem("Apply for Leave", "Index", "LApplication")
        @Html.MenuItem("Leave Balance", "Index", "Calendar")
        @Html.MenuItem("Leave History", "Index", "LHistory")
        @Html.MenuItem("Leave Status", "Index", "Forms")
        

    </ul>
</div>