@{
    ViewBag.Title = "Index";
}
@Html.Partial("_LeftMenu")

<h2>This is the Password Change page.</h2>

<!--Change password page-->
<table style="width:100%">
    <tr>
        <td style="width: 100%" align="center">
            <div class="form-group">
                <label class="col-lg-2 control-label" for="Old Password">Old Password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="Old Password" type="text" value="This is Old Password...">
                </div>
            </div>
            <hr /><br /> 
            <div class="form-group">
                <label class="col-lg-2 control-label" for="New Password">New Password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="New Password" type="text" value="This is New Password...">
                </div>
            </div>
            <hr /><br />
            <div class="form-group">
                <label class="col-lg-2 control-label" for="confirm Password">Confirm Password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="Confirm Password" type="text" value="This is Confirm Password...">
                </div>
            </div>
    </tr>
    <tr>
        <td style="width: 100%"></td>
    </tr>
</table>
<hr /><br />
<table style="width:100%">
    <tr>
        <td style="width: 100%" align="center">
            <button class="btn btn-sm btn-default">Save</button>
    </tr>
    <tr>
        <td style="width: 100%"></td>
    </tr>
</table>
